@mixin textBox {
  color: $secondaryColor;
  background-color: $primaryColor;
  border-radius: 10px;
  padding: (20px/2);
  margin: (10px+100px);
}

@mixin textHover($flag) {
  &:hover {
    @if ($flag == 1) {
      background-color: $thirdlyColor;
    } @else if($flag == 2) {
      background-color: #4c00ff;
      color: #64d6ff;
    } @else {
      background-color: #000;
      color: #fff;
    }
  }
}

@mixin query($width) {
  @media (max-width: $width) {
    @content;
  }
}
