@import "variables";
@import "mixins";

h1 {
  color: $primaryColor;
}
h2 {
  background-color: $primaryColor;
  color: $secondaryColor;
  font-size: $fontSize;
}

.container {
  background-color: $primaryColor;
  ul {
    list-style: nonr;
    li {
      color: $secondaryColor;
      a {
        text-decoration: none;
        color: $secondaryColor;
      }
    }
  }
}

.textdiv h1 {
  @include textBox;
  @include textHover(2);
  @include query(600px) {
    background-color: #23c502;
  }
}

.textdiv h3 {
  @include textBox;
}

.textdiv p {
  @include textBox;
}
