@import "variables";
@import "mixins";

%message-shared {
  padding: 10px;
  color: #fff;
  background-color: #6b0000;
}

h1 {
  color: $primaryColor;
}
h2 {
  background-color: $primaryColor;
  color: $secondaryColor;
  font-size: $fontSize;
}

.container {
  background-color: $primaryColor;
  ul {
    list-style: nonr;
    li {
      color: $secondaryColor;
      a {
        text-decoration: none;
        color: $secondaryColor;
      }
    }
  }
}

.textdiv h1 {
  @include textBox;
  @include textHover(2);
  @include query(600px) {
    background-color: #23c502;
  }
}

.textdiv h3 {
  @include textBox;
}

.textdiv p {
  @include textBox;
}

.header {
  @extend %message-shared;
}

// @for $item from 1 through 5 {
//   .title#{$item} {
//     background-color: coral;
//     color: #000;
//     height: 20px * $item;
//   }
// }

$item: 5;
@while ($item>0) {
  .title#{$item} {
    background-color: coral;
    color: #000;
    height: 20px * $item;
  }
  $item: $item - 1;
}
