$primaryColor: #654fef;
$secondaryColor: hsl(0, 0%, 100%);
$fontSize: 5rem;

@mixin textBox {
  color: $secondaryColor;
  background-color: $primaryColor;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

h1 {
  color: $primaryColor;
}
h2 {
  background-color: $primaryColor;
  color: $secondaryColor;
  font-size: $fontSize;
}

.container {
  background-color: $primaryColor;
  ul {
    list-style: nonr;
    li {
      color: $secondaryColor;
      a {
        text-decoration: none;
        color: $secondaryColor;
      }
    }
  }
}

.textdiv h1 {
  @include textBox;
}

.textdiv h3 {
  @include textBox;
}

.textdiv p {
  @include textBox;
}
